-r requirements.txt

black==24.3.0
flake8==7.1.1
pytest==8.3.4
pytest-cov==5.0.0
pytest-mock==3.14.0
responses==0.25.3
httmock==1.4.0
wooper==0.4.4
mypy==1.14.1
typing_extensions==4.12.2
types-docutils==0.21.0.20241128
