-r requirements.txt

aioresponses==0.7.8
black==25.11.0
flake8==7.3.0
pytest==8.4.2
pytest-cov==6.2.1
pytest-mock==3.15.1
responses==0.25.8
requests-mock==1.12.1
httmock==1.4.0
wooper==0.4.4
mypy==1.18.2
