git+https://github.com/superdesk/newsroom-core.git@master#egg=Newsroom-Core
git+https://github.com/superdesk/superdesk-core.git@develop#egg=Superdesk-Core
git+https://github.com/superdesk/superdesk-planning.git@develop#egg=superdesk-planning
