git+git://github.com/superdesk/newsroom-core.git@develop#egg=Newsroom-Core

# Copied from `newsroom-core` for now (until feedparser is fixed)
WTForms==2.2.1
flask-webpack>=0.1.0,<0.2
Flask-WTF>=0.14.2,<0.15
flask-limiter>=0.9.5.1,<0.9.6
Flask-Caching>=1.9.0
flask_pymongo>=0.5.2,<1.0
honcho>=1.0.1
gunicorn>=20.0.4,<20.1
PyRTF3>=0.47.5
xhtml2pdf>=0.2.4

# Use develop branches for now (to fix `feedparser` issue)
git+git://github.com/superdesk/superdesk-core.git@develop#egg=superdesk-core
git+git://github.com/superdesk/superdesk-planning.git@develop#egg=superdesk-planning
